<nav class="navbar navbar-expand-lg bg-light pr-2 pl-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img width="220" alt="Logo"
        class="vtex-store-components-3-x-logoImage vtex-render-runtime-8-x-lazyload ls-is-cached lazyloaded"
        crossorigin="anonymous" data-src="https://footloose.vtexassets.com/arquivos/ids/1369612/footloose-logo.svg"
        loading="lazy" src="https://footloose.vtexassets.com/arquivos/ids/1369612/footloose-logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Mantenimiento
          </a>
          <ul class="dropdown-menu  text-dark">
            <li><a class="dropdown-item " href="/productos/list">Productos</a></li>
            <li><a class="dropdown-item" href="/marcas/list">Marcas</a></li>
            <li><a class="dropdown-item" href="/modelos/list">Modelos</a></li>
            <li><a class="dropdown-item" href="/tallas/list">Tallas</a></li>
            <li><a class="dropdown-item" href="/colores/list">Colores</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/ventas/list">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/ventas/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/auth/logout">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>